In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris 
import seaborn as sns
from utils import variables as var
import yfinance as yf

In [10]:
#We mainly uses the csv archives + yfinance as an auxiliary module
gold=pd.read_csv('data/Gold_data.csv')
index_sp500=pd.read_csv('data/sp500_index.csv')
stocks=pd.read_csv('data/sp500_stocks.csv')
company=pd.read_csv('data/sp500_companies.csv')
stocks.info()
buffet=stocks[stocks['Symbol']=='BRK-B']
buffet
#Convert tu DAteTime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809794 entries, 0 to 1809793
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Symbol     object
 2   Adj Close  float64
 3   Close      float64
 4   High       float64
 5   Low        float64
 6   Open       float64
 7   Volume     float64
dtypes: float64(6), object(2)
memory usage: 110.5+ MB

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
223076,2010-01-04,BRK-B,66.220001,66.220001,66.500000,65.919998,66.000000,1575000.0
223077,2010-01-05,BRK-B,66.540001,66.540001,66.589996,66.150002,66.389999,1310000.0
223078,2010-01-06,BRK-B,66.199997,66.199997,66.500000,66.199997,66.500000,1760000.0
223079,2010-01-07,BRK-B,66.459999,66.459999,66.510002,66.139999,66.199997,1505000.0
223080,2010-01-08,BRK-B,66.440002,66.440002,66.480003,66.300003,66.480003,1500000.0
...,...,...,...,...,...,...,...,...
226669,2024-04-15,BRK-B,400.260010,400.260010,409.059998,399.859985,406.989990,3002300.0
226670,2024-04-16,BRK-B,396.920013,396.920013,401.250000,396.500000,400.970001,3435500.0
226671,2024-04-17,BRK-B,397.739990,397.739990,399.279999,395.660004,398.940002,2465600.0
226672,2024-04-18,BRK-B,399.890015,399.890015,402.989990,399.100006,399.700012,2669500.0
226673,2024-04-19,BRK-B,405.079987,405.079987,405.570007,400.170013,401.040009,3996100.0